.calendar-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

/* React Calendar */
.react-calendar {
    width: 25rem;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    border: none;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    line-height: 1.125em;
}
.react-calendar__navigation button {
    /* color: #fff;
    background: #fbb03b; */
    color: #fbb03b;
    background: none;
    min-width: 44px;
    font-size: 1rem;
    font-weight: bold;
    /* font-family: "Times New Roman", "Lato"; */
    font-family: inherit;
    margin-top: 0.5rem;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}
abbr[title] {
    text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #fbb03b;
    border-radius: 6px;
}
.react-calendar__tile--now {
    background: #fbb03b33;
    border-radius: 6px;
    font-weight: bold;
    color: #fbb03b;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #fbb03b33;
    border-radius: 6px;
    font-weight: bold;
    color: #fbb03b;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
}
.react-calendar__tile--active {
    background: #fbb03b;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #fbb03b;
    color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
}
.react-calendar__tile--range {
    background: #fbb03b;
    /* background: #f8f8fa; */
    /* color: #fbb03b; */
    /* color: red; */
    border-radius: 0;
}
.react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #fbb03b;
    color: white;
}

.react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #fbb03b;
    color: white;
}

.react-calendar__tile--rangeEnd.react-calendar__tile--active:enabled,
.react-calendar__tile--rangeEnd.react-calendar__tile--active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.react-calendar__tile--rangeStart.react-calendar__tile--active:enabled,
.react-calendar__tile--rangeStart.react-calendar__tile--active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* Event time */
.event-time {
    display: flex;
    font-family: inherit;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}
.event-time span {
    color: #404040;
    margin-bottom: 0.5rem;
    display: block;
}
.event-time__input {
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    color: #cd8004;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
